<body>
  <div class="container">
    <div class="col-align-self-center">    
      <h1 class="title text-center">自己紹介を編集する</h1>
        <%= form_with model: @user,local: true do |f| %>
          <div class="label_introduction">
            <p>自己紹介文</p>
            <%= f.text_area :introduction, class: "text_area" %><br>
            <p>200文字以上、800文字未満で入力してください</p>
          </div>
          <div class="edit_image_group">
            <div class="label_avater">アバター画像</div>
            <%= f.file_field :image, class: "edit_image_button" %><br>
          </div>
            <%= f.submit "自己紹介を確定する", class: "edit_button" %>
        <% end %>
    </div>
  </div>
</body>