<select class="form-select" aria-label="Disabled select example">
  <option selected>数字を選択してください</option>
  <% (0..100).step(10).each do |value| %>
    <option @value="<%= value %>"><%= value %></option>
  <% end %>
</select>